## Personal aliases
alias help='bash -c help'
alias w3md='w3m www.duckduckgo.com'
#alias surfd='surf www.duckduckgo.com && echo "" > ~/.surf/cookies.txt'
alias term='xfce4-terminal & > /dev/null'
alias please='sudo'
alias vlc='cvlc'
alias backup='sudo ~/Coding/Bash/Random_Script/backUp/mountHDD.sh'
alias megapush='~/Coding/Bash/Random_Script/gitPush.sh'
alias megapull='~/Coding/Bash/Random_Script/gitPull.sh'
alias mktemplate='/home/riky/Documents/Git/ErreKappa1/MakeTemplate/mkTemplate.sh'
alias fetch='neofetch --ascii_colors 12 5'
alias speedtest='~/Coding/Bash/Random_Script/speedTest.sh'
#alias lutris="sudo sh -c 'sysctl -w abi.vsyscall32=0' && lutris"

## System
alias lightup='backlight_control +10.4'
alias lightdown='backlight_control -10.4'

alias volumeup='pamixer -d 2'
alias volumedown='pamixer -i 2'
alias volumetoggle='pamixer -t' 
