# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = ErreKappa1
	email = riccardo.oglietti@tutanota.com
[pull]
	rebase = false
[core]
	editor = vim
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
	defaultBranch = master
