[Desktop Entry]
Name=ARandR
GenericName=Screen Settings
Icon=accessories-image-viewer
Exec=arandr
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
StartupNotify=true
X-XFCE-Source=file:///usr/share/applications/arandr.desktop
Comment=
Path=
