[Desktop Entry]
Type=Application
Version=1.0
Name=SuperTux 2
Name[en]=SuperTux 2
GenericName=Platform Game
GenericName[en]=Platform Game
Comment=Play a classic 2D platform game
Comment[en]=Play a classic 2D platform game
Icon=supertux2
Exec=supertux2
Terminal=false
StartupNotify=false
Categories=Game;ArcadeGame;
Keywords=game;arcade;platform;
X-XFCE-Source=file:///usr/share/applications/supertux2.desktop
