[Desktop Entry]
Version=1.0
Type=Application
Exec=/home/riky/Documents/Other/Games/Minecraft/launch.sh
Icon=draw-cuboid
StartupNotify=true
Terminal=true
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Minecraft
Comment=Explore your own unique world!
X-XFCE-Source=file:///usr/share/applications/xfce4-run.desktop
Path=/home/riky/Documents/Other/Games/Minecraft
