[Desktop Entry]
Name=Hydrogen
Comment=Create drum sequences
GenericName=Drum Machine
Version=1.0
Type=Application
Categories=AudioVideo;Audio;Qt;
Keywords=audio;sound;jackd;sampler;drum;
MimeType=text/xml;
Exec=hydrogen %F
TryExec=hydrogen
Terminal=false
StartupNotify=true
Icon=rhythmbox
X-XFCE-Source=file:///usr/share/applications/hydrogen.desktop
Path=
