on_mount_cmd=
mount_command=mount %m
umount_command=umount %m
excluded_filesystems=
icon=/home/riky/.icons/Inverse/16/devices/drive-harddisk-ieee1394.svg
show_message_dialog=true
include_networked_filesystems=false
trim_devicenames=true
td_count=14
exclude_selected_filesystems=false
exclude_devicenames_in_menu=false
eject_cddrives=false

