[Desktop Entry]
Version=1.0
Type=Application
Name=Scrcpy
Comment=Scrcpy is a free and open-source screen mirroring application
Exec=scrcpy
Icon=android-file-transfer
Path=
Terminal=true
StartupNotify=false
