[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/riky/Desktop/layout_us.sh]
row=5
col=0

[/home/riky/Desktop/layout_it.sh]
row=6
col=0

[6c3ba736-47f4-490c-ab02-a9ec5802ca85]
row=0
col=0

[BE67-EB13]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/riky]
row=4
col=0

