[Desktop Entry]
Name=Tutanota Desktop
Comment=The desktop client for Tutanota, the secure e-mail service.
Exec="/home/riky/Documents/AUR_builds/tutanota-desktop-linux.AppImage" %U
Terminal=false
Type=Application
Icon=tutanota-desktop
StartupWMClass=de.tutao.tutanota-desktop
MimeType=x-scheme-handler/mailto;
Categories=Network;
X-Tutanota-Version=3.69.2
TryExec=/home/riky/Documents/AUR_builds/tutanota-desktop-linux.AppImage
X-XFCE-Source=file:///home/riky/.local/share/applications/tutanota-desktop.desktop
Path=
StartupNotify=false
